body
{
    font-family: Arial, Helvetica, sans-serif;
    font-size:36px;
}

.on {
  fill: pink;
  stroke: red;
  stroke-width: 2;
}

.tricolor {
	stroke: black;
}

.collapse_header {
    font-size: 36px
}

.centered {
	
    align: "center";
}